@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

.merienda {
  font-family: "Merienda", cursive;
}

.main-continer {
  animation: fadeIn 1s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
